<div class="header">
	<span>留言</span>
</div>
<div class="inner">
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputName">昵称</label>
			<div class="controls">
				<input type="text" id="inputName" value="" placeholder="必填一个昵称">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">邮箱</label>
			<div class="controls">
				<input type="text" id="inputEmail" value="" placeholder="方便取得联系的邮箱">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputComment">回复</label>
			<div class="controls">
				<textarea rows="5" id="inputComment" value=""></textarea>
			</div>
		</div>
		<div class="form-actions">
			<button id="btn " class="btn" type="submit">评论</button>
		</div>
	</form>
</div>
<script>
$(document).ready(funciont(){
	
})
</script>