<div class="tags_com">
<ul class="tags">
<% for(var i = 0;i<tags.length; i++){ %>
	<li class = "tag" id="tag-<%= tags[i]._id %>">
		<span class="tag_selectable" id="<%= tags[i]._id %>"><%= tags[i].name %></span>
		<a class = "tag_del">x</a>
	</li>
<% } %>
</ul>
	<div class="input" id ="tag-write">
	<input type="text" id="write-tag" class="write" name="write" value="添加标签 按回车隔开"/>
	</div>	

	
</div>



<script type="text/javascript">


$(document).ready(function(){
	$(".drag").live("click",function(){
	$(".write").attr("value","");
	$(".write").focus();
	});

		function setli(a,b){
			var msg = '<li class = "tag" id="tag-'+a+'" >'+
								'<span class="tag_selectable" id="'+a+'">'+b+'</span>'+
								'<a class="tag_del" >x</a>'+
								'</li>'
			$(".tags").append(msg);

		}

    $('.write').live("keydown",function(event){
        var e = event || window.event; //浏览器兼容
        //处理逗号和回车事件
        if(e.keyCode == 188 || e.keyCode == 13){          
            if($(".write").val()!="")
            { var text = $('.write').val();
			   
			$.get('/admin/tag/createnew', {text: text},function(msg){
				if(msg){
			    $(".tags").css("margin-top","0px");   
          $(".input").css("margin-top","-18px");
          setli(msg.id,msg.name);
        }  
         $(".write").attr("value","");    
	   })}
      
    }}); 
    $('.write').live("blur",function(){
               
      if($(".write").val()!=""){
        var text = $('.write').val();
			   
				$.get('/admin/tag/createnew', {text: text},function(msg){
					if(msg){	
						$(".tags").css("margin-top","0px");   
          	$(".input").css("margin-top","-18px");
         	 setli(msg.id,msg.name);
        	}  
         $(".write").attr("value","");    
	   		})
	   }
      
   }); 
	
    $('.write').live("keyup",function(event){
        var e = event || window.event; //浏览器兼容
        //处理逗号和回车事件
        if(e.keyCode == 188){          
        $(".write").attr("value","");      
        }
      
    });    
    $(".tag_del").live("click",function(){
		var currentTAG = $(this).closest('.tag');
		currentTAG.data('id',currentTAG.attr('id').replace('tag-',''));
		$.get('/admin/tag/delete',{id: currentTAG.data('id')},function(msg){
			
			currentTAG.fadeOut('fast');	
			})
    
    });


})
</script> 