<!DOCTYPE html>
<html>
<head>
<style>
#juanzhu {
    float: left;
    left: 100px;
    position: absolute;
    top: 200px;
    width: 200px;
}
a {
   text-decoration: none;
}
a:hover {
   color: red;
}
</style>
</head>
<body>
<div id="juanzhu">
<a href="http://item.taobao.com/item.htm?spm=a1z10.1.11-6347282888.5.vw4zOi&id=18697199621">或者你也可以为山区孩子买点猪肉，带给他们快乐！
</a>
</div>
<script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
</body>
</html>
