<article id="article" class="post clear">
	<header class="article_header">
		<h1>
			<a href="/about">关于我</a>
		</h1>
	</header>
	<div class="article_content">
		<p>
			<img src=""></img>
			你好2013!
		</p>
		<p>
			
		</p>
	</div>
</article>