<div id="sidebar">
	<%- include ./site/sidebar %>
</div>
	

<div id="content">
	<div class="panel">
		<div class="header">
			<ul class="breadcrumb">
				<li>
					<a href="/">主页</a>
					<% if(user) {%>
						<li class="pull-right"><a href="/admin/article/create">新文章</a></li>
					<% } %>		
				</li>	
			</ul>
		</div>
		<%- include ./site/article/list %>
	</div>
</div>





