<!DOCTYPE html>
<html>
<head>
<!--meta http-equiv="Content-Type" content="text/html;charset=utf-8"-->
<title><%= title %> | RhapsodyBlog</title>
<link href="/css/index.css" rel="stylesheet" type="text/css">
<link href="/css/prettify.css" rel="stylesheet" type="text/css" >
<script src="/code-prettify/prettify.js"></script>
<script src="/js/jquery.js"></script>
</head>
<body>
	<div id="wrap">
		<header id="page_header">
			<hgroup>
				<h1 id="site-title">
					<a rel="home" title="RhapsodyBlog" href="/"><span class="emdash">—</span>Rhapsody Blog</a>
				</h1>
				<h2 id="site-description">心之所向，路之所往</h2>
			</hgroup>
			<div class="clear">
				<nav id="access" class="clear">
					<ul class="menu clear"> 
					<% if(sign == 0) {%>
						<li class="current_page_item">
							<a href="/">首页</a>
						</li>
						<li class="line">
							<span>|</span>
						</li>
						<li class="aboutme">
							<a href="/archive">文章归档</a>
						</li>
						<li class="line">
							<span>|</span>
						</li>
						<li class="achive">
							<a href="/about">关于我</a>
						</li>
					<% }else if(sign == 1) {%>
						<li class="home">
							<a href="/">首页</a>
						</li>
						<li class="line">
							<span>|</span>
						</li>
						<li class="current_page_item">
							<a href="/archive">文章存档</a>
						</li>
						<li class="line">
							<span>|</span>
						</li>
						<li class="achive">
							<a href="/about">关于我</a>
						</li>
				  <% }else if(sign == 2) {%>
				  	<li class="home">
							<a href="/">首页</a>
						</li>
						<li class="line">
							<span>|</span>
						</li>
						<li class="arhive">
							<a href="/archive">文章归档</a>
						</li>
						<li class="line">
							<span>|</span>
						</li>
						<li class="current_page_item">
							<a href="/about">关于我</a>
						</li>
				  <%}%>
					</ul>
				</nav>
				<div class="search-form-holder">
					<form id="searchform" action="/">
						<fieldset>
							<input type="text" value="look" onblur="if(this.value)=='' this.value='look';"onfocus="if(this.value='look') this.value='';" name="q">
							<button type="submit">Search</button>
						</fieldset>
					</form>
				</div>
			</div>
		</header>
		<div class="content clear">
			<section id="posts">
				<%- body %>
			
			</section>
			<section class="sidebar">
				<%- include ./site/sidebar %>
			</section>
		</div>
			<% if(content) {%>
					<div class="respond">
						 <div id="disqus_thread"></div>
   				 		<script type="text/javascript">
				        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				        var disqus_shortname = 'rhapsodyblog'; // required: replace example with your forum shortname

				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    	</script>
   					 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
					</div>
			<% } %>
	</div>
	


	<footer id="page_footer">
		<p>© Rhapsody 2012 Based on express,Node.js;Theme by <a href="http://wpshower.com/">Blogum</a></p>
	</footer>
</body>
</html>
