
<div id="sidebar">
	<div class="panel">
		<div class="header">
			<span class="col_fade">关于</span>
		</div>
		<div class="inner">
			<p>Test BLOG</p>
			<ul>
				<li>博客基于Nodejs Express</li>
				<li>使用markdown编辑器</li>
				<li>评论模块使用友言第三方社会评论</li>
			</ul>
		</div>
	</div>
</div>
<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>通知</li>
			</ul>
		</div>
		<div class='inner'>
		<% if(locals.error){ %>
			<div class="alert alert-error" >	
				<strong><%= error %></strong>
			</div>
		<% } %>
		<% if(locals.success){ %>
			<div class="alert alert-success">	
				<strong><%= success %></strong>
			</div>
		<% } %>
		</div>
	</div>
</div>