/*---------------------------------reset-start.css-------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,t{
	background: transparent;
	border: 0;
	margin: 0;
	font-size: 100%;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
} 
body {
line-height: 1;
text-align: left;
}
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
:focus {
outline: 0;
}
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
} 
/*-------------------reset-end---------------------*/

h1,h2,h3,h4,h5,h6{margin: 0 0 0;}

/*-------------------main---------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, t{
	font-size: 100%;
	background:none repeat scroll 0 0 transparent;
}
article,aside,footer,section,header,hgroup,figure,figcaption,details,nav{
	display:block;
}

body{
	background-color: #ffffff;
	color:#000000;
	font:80% Arial, Helvetica, sans-serif
}
#wrap{
	margin: 0 auto;
	position: relative;
	width: 945px;
	min-height: 100%;
	_height:100%;
}
::selection{
	background: #fffdc6;
	color: #000; 
}
/*-----------------------------header-------------------------------*/
#page_header{
	padding:50px 0 37px 160px;
}
#page_header h1{
	font-size: 42px;
	font-weight: bold;
}
#page_header h1 a{
	color:#000000;
	text-decoration:none;
}
.emdash{
	margin: 0 0 0 -52px;
	padding: 0 7px 0 0;
}
#page_header h2{
	color: #9D9D9D;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.3em;
	padding: 8px 0;
}
#access {
	float: left;
	margin: -3px 0 0 1px;
	padding: 0;
	width: 559px;
}
#access ul{
	font-size: 16px;
	list-style: none outside none;
	padding-left: 0;
}

#access .menu > li {
	margin: 0 3px 0 0;
	padding-right: 0px;
}
#access .line{
	padding:3px 0 0 0;
	color:#e9e9e9;
}
#access li{
	float: left;
	font-weight: bold;
	position: relative;
}

#access a{
	color: #000000;
	display: block;
	line-height: 1.85em;
	text-decoration: none;;
}

#access li:hover > a,
#access a:focus,
#access li.current_page_item > a,
#access li.current-menu-item > a,
#access li.current-menu-parent > a,
#access li.current_page_ancestor > a {
	color:#9d9d9d;
}

#access ul li:hover > ul{
	display:block;
}
.search-form-holder{
	background:none repeat scroll 0 0 #E9E9E9;
	float:right;
	position:relative;
	top:2px;
	width:225px;
}
.search-form-holder input{
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 4px;
	vertical-align: middle;
	width: 191px;
}
.search-form-holder button{
	background:#ffffff;
	cursor: pointer;
	height: 24.2px;
	margin: 0 0 0 -30px;
	border: 1px solid #FFFFFF;
	vertical-align: middle;
	width: 50px;
}
/*----------------------------cotent-------------------------------*/
.clear:after{
	clear:both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}

.post{
	padding-bottom: 40px;
	position: relative;
}
.content{
	padding-bottom: 185px;
}

#posts{
	float: left;
	width: 705px;
}

.article_header{
	border-top: 1px solid #E9E9E9;
	float: left;
	padding-top: 12px;
	width: 145px;
}

.article_header h1{
	color:#000000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	word-wrap:break-word;
}


.article_header h1 a{
	color: #000000;
	text-decoration:none;
}
.article_header h1 a:hover{
	color:#dddddd;
}
.article_data {
	color: #9D9D9D;
	font-size: 11px;
}

.article_data a{
	color: #000000;
	text-decoration: none;
}

.article_post_tag{
	padding: 10px 10px 0 0;
}
.article_post_category{
	padding: 10px 10px 0 0;
}

.article_data a:hover
{
	border-color:#dddddd;
	border-bottom: 1px solid #000000;
}
.article_content{
	border-top: 1px solid #E9E9E9;
	float:right;
	overflow: hidden;
	padding-top: 15px;
	width:545px;
}
.article_content img{
	float: left;
	display: inline;
	margin-right: 15px;
	margin-top: 4px;
}
.admin_edit{
	padding-top: 10px;
}

.more-link{
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	display: inline-block;
	padding-top: 20px;
}

.article_content a {
	text-decoration: none;
	color:#87CEBB;
}
.article_content a:hover{
	color: red;
	border-bottom: 1px solid #000;
}
/*----------cotent-archive-head------------*/
.archive_title{
	padding-bottom:20px;
}
.archive_title_meta{
	border-top: 1px solid #e9e9e9;
	float: left;
	font-size: 16px;
	padding-top: 30px;
	width: 145px;
	font-weight: bold;
}
.archive_title_name{
	border-top: 1px solid #e9e9e9;
	float: right;
	font-size: 31px;
	font-weight: bold;
	padding-top: 15px;
	width: 545px;
}
/*---------content-归档---------------------*/
.article_month{
	padding: 10px 0 0 10px;
}
.article_title{
	padding-left:10px;
}
.article_year{
	padding-top: 10px;
}
/*-------cotent-pagination----------------*/
.pagination{
	height: 40px;
	float:right;
	width: 545px;
}
.pagination ul{
	border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}
.pagination ul li{
	display:inline;
	line-height: 18px;
}
.pagination a{
	-moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
}
.pagination a:hover{
	background: #d0d0d0;
}
/*-----------------------comment----------------------------*/
/*.respond:after{
	clear:both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

.respond{
	margin: 0 0 0px 0px !important;
	padding-bottom: 195px;
	overflow: visible !important;
}*/

/*-----------sidebar---------------------------------------------------------*/
.sidebar{
	float: right;
	width: 225px;
	margin-bottom:40px;
	overflow: hidden; 
}
.widget{
	border-top:1px solid #E9e9e9;
	padding:15px 0;
}
.widget h1{
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 15px;
}

.widget a,.article_year a{
	text-decoration: none;
	color:#000000;
}
.widget a:hover,.article_year a:hover{
	border-bottom: 1px solid #000000;
	color:#dddddd;
}
.widget_body{
	width: 205px;
}
.widget_body, .widget_body p, .widget_body li{
	font-size: 11px;
	line-height: 1.5;
	padding: 4px 0 4px 20px;
	list-style: square inside none;
}
.widget_body li:hover{
	background:#f9f9f9;
}

.tagcloud{
	/*white-space:pre-wrap;*/
  /*word-break:break-all;*/
}

/*-------------------------------------footer-----------------------------*/
#page_footer{
	/*border-top: 1px solid #E9E9E9;*/
	width: 945px;
	/*position:relative;
	height: 101px;
	padding-top: 23px;
	float:right;
	margin: -165px auto 0;*/
	margin:0 auto;
	text-align: center;
}
#page_footer p{
	color:#666666;
}
#page_footer a{
	color:#76B24C;
	text-decoration: none;
}
#page_footer a:hover{
	color: #000000;
}

/*---------------------------other-about-----------------*/
.about{
	padding-bottom: 400px;
}

.about a{
	color: #000;
	text-decoration: none;
	font-size: 11px;
}

.about a:hover{
	border-bottom: 1px solid #000;
	color: #aaaaaa;
}
