<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="懒人库" />
<meta name="description" content="多打多打" />
<title>懒人库</title>
<link href="/css/slider.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
<script type='text/javascript' src='/js/jquery-1.7.2.min.js'></script>
<script type='text/javascript' src='/js/common.js'></script>
<script type='text/javascript' src='/js/slider.js'></script>
</head>
<body>

<header>
	<div class="header-content home">
		<div class="parallax-bg" id="slider-wrap">
		<div class="slider parallax-bg" id="slider"> <div class="slider-sections sandbox"> 
		<section class="first"> <img alt="Kendo UI" src="/img/home-banner-1.png"/> <div class="text"> <h2>SmartSite Ver 2.2<br />
		</h2> <p class="copy">多打字啊 多打字多打字啊啊 啊  啊啊</p> <p class="button"><a href="http://www.lanrentuku.com/" onclick="_gaq.push(['_trackPageview', 'http://www.lanrentuku.com/']);">Download</a> <a class="dimmed" onclick="_gaq.push(['_trackPageview', 'http://www.lanrentuku.com/']);" href="http://www.lanrentuku.com/">Learn More</a></p> </div> </section>
		<section> <img src="/img/dataviz-home-image-q2.png" alt="Kendo UI" /> <div class="text" style="padding-top: 10px;"> <h2>这是和说呢么嘛</h2> <p class="copy">的</p> <p class="button"><a href="http://www.lanrentuku.com/" onclick="_gaq.push(['_trackPageview', 'http://www.lanrentuku.com/']);">Download</a> <a class="dimmed" onclick="_gaq.push(['_trackPageview', 'http://www.lanrentuku.com/']);" href="http://www.lanrentuku.com/">Learn More</a></p> </div> </section>
		<section> <img src="/img/home_banner_web-q2.png" alt="Kendo UI" /> <div class="text"> <h2>无的角度讲阿斯蒂芬</h2> <p class="copy">jquery.Mobile，HTML5完全分离</p> <p class="button"><a href="http://www.lanrentuku.com/" onclick="_gaq.push(['_trackPageview', 'http://www.lanrentuku.com/']);">Download</a> <a class="dimmed" onclick="_gaq.push(['_trackPageview', 'http://www.lanrentuku.com/']);" href="http://www.lanrentuku.com/">Learn More</a></p> </div> </section></div> </div> <a class="slider-prev" href="javascript: void(0)">?</a> <a class="slider-next" href="javascript: void(0)">?</a>
		</div>
	</div>
</header>
<div style="text-align:center;margin-top:20px">
<p>万维网<a href="http://www.cactussoft.cn/" target="_blank">顶顶顶顶顶<a href="http://www.kendoui.com/" target="_blank">Kendo UI</a>多带点<a href="http://www.lanrentuku.com/" target="_blank">的</a></p>
<p>尊重他人劳动成果,无商用</p>

</div>
</body>
</html>
